@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap");

/* App layout using mobile first approach */

/* Variables */
:root {
	--btn-bg-color: #6366f1;
	--icon-color: #00c3f9;
}
:root.light {
	--body-color: #f1f5f9;
	--main-bg-color: #e2e8f0;
	--card-bg-color: rgb(255, 255, 255);
	--heading-color: #0f172a;
	--main-text-color: #64748b;
	--border-color: #f1f5f9;
	--span-color: #334155;
	--card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}
:root.dark {
	--body-color: #334155;
	--main-bg-color: #0f172a;
	--card-bg-color: #1e293b;
	--heading-color: #ffffff;
	--main-text-color: #94a3b8;
	--border-color: #334155;
	--span-color: #cbd5e1;
	--card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Roboto Flex", sans-serif;
	background-color: var(--body-color);
}
/* 1632px is 17inches */
.container {
	max-width: 2592px;
	margin: auto;
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}
h2 {
	color: var(--heading-color);
	margin-bottom: 2rem;
	font-size: 1.8rem;
	font-weight: 500;
}
.nav-content,
.header,
.announcements-card,
.project-card,
.trending-card {
	background-color: var(--card-bg-color);
}

.person-image {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	overflow: hidden;
}
.person-image > img {
	width: 100%;
	height: 100%;
}

.fa-solid {
	color: var(--main-text-color);
	width: 2rem;
	height: 2rem;
	transition: color 0.3s linear;
}
/* change icons but search icon, color when hovered */
.fa-solid:not(.search-icon, .navigate-icon):hover {
	color: var(--btn-bg-color);
	cursor: pointer;
}

/* stlye nav as a modal */
.nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	display: none;
}
.nav-bg-color {
	background-color: rgba(0, 0, 0, 0.7);
}
.nav-content {
	position: relative;
	left: -40rem;
	width: 70%;
	min-height: 100vh;
	display: grid;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: repeat(16, 2.5rem);
	row-gap: 0.8rem;
	padding: 2rem;
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: capitalize;
}
/* positioning nav contents */
.close-menu {
	grid-area: 2 / 2 / 4 / 3;
	justify-self: end;
	align-self: baseline;
	font-size: 2rem;
}
.dashboard {
	grid-area: 2 / 1 / 4 / 2;
	align-self: baseline;
	font-size: 2rem;
}
.home {
	grid-area: 6 / 1 / 7 / 2;
}
.profile {
	grid-area: 7 / 1 / 8 / 2;
}
.messages {
	grid-area: 8 / 1 / 9 / 2;
}
.history {
	grid-area: 9 / 1 / 10 / 2;
}
.tasks {
	grid-area: 10 / 1 / 11 / 2;
}
.communities {
	grid-area: 11 / 1 / 12 / 2;
}
.settings {
	grid-area: 14 / 1 / 15 / 2;
}
.support {
	grid-area: 15 / 1 / 16 / 2;
}
.privacy {
	grid-area: 16 / 1 / 17 / 2;
}
/* Add spacing between icon and text */
.nav-content > div {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 2rem;
	align-items: center;
}

/* Header styles */
.header {
	height: 15rem;
	padding: 2rem;
	font-size: 1.4rem;
	display: grid;
	grid-template-columns: max-content max-content repeat(3, 2fr) repeat(3, max-content);
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
	gap: 1rem 2rem;
}
/* style search */
.search {
	background-color: var(--main-bg-color);
	border-radius: 1rem;
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	padding: 0.4rem 0.5rem;
}
/* .search:focus {
	outline: 1px solid red;
} */
.search > input {
	border: none;
	background-color: transparent;
}
.search > input:focus {
	outline: none;
}

/* position header contents */
.open-menu {
	grid-area: 1 / 1 / 2 / 2;
}
.search {
	grid-area: 1 / 2 / 2 / 6;
}
.notification {
	grid-area: 1 / 7 / 2 / 8;
}
.toggle-theme {
	grid-area: 1 / 8 / 2 / 9;
}
.person-image {
	grid-area: 2 / 1 / 4 / 3;
	align-self: center;
}
.greeting {
	grid-area: 2 / 3 / 3 / 5;
	align-self: end;
}
.person {
	grid-area: 3 / 3 / 4 / 6;
	align-self: start;
}
.add {
	grid-area: 3 / 6 / 4 / 7;
}
.upload {
	grid-area: 3 / 7 / 4 / 8;
}
.share {
	grid-area: 3 / 8 / 4 / 9;
}
/* select all header children icons except the menu icon */
.header > i:not(:first-child) {
	justify-self: end;
}
/* Main styles */
.main {
	padding: 2rem;
}
p {
	height: auto;
}
/* .projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
	grid-template-rows: 1fr;
	column-gap: 2rem;
} */
.project-card {
	min-height: 20rem;
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: 0.8rem;
	border-left: 8px solid var(--btn-bg-color);
	font-size: 1.4rem;
	box-shadow: var(--card-shadow);
	display: grid;
	grid-template-columns: 1fr repeat(3, max-content);
	grid-template-rows: max-content 1fr max-content;
	column-gap: 2rem;
	row-gap: 0.5rem;
}
/* layout project card contents */
.project-card-title {
	grid-area: 1 / 1 / 2 / 2;
	font-size: 1.6rem;
	font-weight: 500;
	color: var(--heading-color);
}
.project-card-info {
	grid-area: 2 / 1 / 3 / 4;
}
.project-card > .like {
	grid-area: 3 / 2 / 4 / 3;
}
.project-card > .peek {
	grid-area: 3 / 3 / 4 / 4;
}
.project-card > .share {
	grid-area: 3 / 4 / 4 / 5;
}
/* center all icons in their own container */
.fa-solid {
	display: grid;
	place-items: center;
}

/* style announcements */
.announcements-card {
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: 0.8rem;
	min-height: 30rem;
	font-size: 1.2rem;
	box-shadow: var(--card-shadow);
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 2rem;
}
.announcement:not(:last-child) {
	border-bottom: 1px solid var(--border-color);
}
.announcement {
	display: grid;
}
.announcement > h4 {
	font-size: 1.4rem;
	font-weight: 500;
	color: var(--heading-color);
}

/* Style trending */
.trending-card {
	padding: 2rem;
	border-radius: 0.8rem;
	font-size: 1.2rem;
	box-shadow: var(--card-shadow);
	min-height: 30rem;
	display: grid;
	gap: 2rem;
}
.trend {
	display: grid;
	grid-template-columns: max-content 1fr 2fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 2rem;
	align-items: center;
}
.trend > .person-image {
	grid-area: 1 / 1 / 3 / 2;
}
.trend-name {
	grid-area: 1 / 2 / 2 / 3;
	font-weight: 500;
	color: var(--span-color);
}
.trend-info {
	grid-area: 2 / 2 / 3 / 4;
}

/* button to scroll to top or bottom of page */
.navigate {
	display: none;
	padding: 1.2rem;
	background-color: var(--btn-bg-color);
	border-radius: 5rem;
	position: fixed;
	right: 2rem;
	bottom: 2rem;
	box-shadow: var(--card-shadow);
}
.navigate-icon {
	color: white;
	font-size: 2rem;
}

/* ANIMATIONS */
/* Animation classes */
.slide-in {
	animation: slideIn 0.5s linear forwards;
}
.slide-out {
	animation: slideOut 0.5s linear forwards;
}
.fade-in {
	animation: fadeIn 0.5s linear 0.4s forwards;
}
.fade-out {
	animation: fadeOut 0.5s linear 0.4s forwards;
}
.show-nav {
	display: block;
}
.hide-nav {
	display: none;
}
.show {
	display: initial;
}

/* animate slide in */
@keyframes slideIn {
	0% {
		left: -80rem;
	}
	100% {
		left: 0;
	}
}
/* animate slide out */
@keyframes slideOut {
	0% {
		left: 0;
	}
	100% {
		left: -80rem;
	}
}
/* animate fade in */
@keyframes fadeIn {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.7);
	}
}
/* animate fade out */
@keyframes fadeOut {
	0% {
		background-color: rgba(0, 0, 0, 0.7);
	}
	100% {
		background-color: rgba(0, 0, 0, 0);
	}
}

/* styling for tablets */
@media screen and (min-width: 768px) {
	.container {
		display: grid;
		grid-template-columns: max-content 1fr;
		grid-template-rows: 15rem 1fr;
	}
	.nav {
		grid-area: 1 / 1 / 3 / 2;
		position: initial;
		display: inline-grid;
		height: auto;
	}
	.nav-content {
		left: 0;
		width: 100%;
	}
	.nav-content > div {
		display: grid;
	}
	/* hide all text in nav */
	.nav-content span,
	.close-menu {
		display: none;
	}
	.header {
		grid-area: 1 / 2 / 2 / 3;
	}
	.main {
		grid-area: 2 / 2 / 3 / 3;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 1fr;
		column-gap: 2rem;
	}
	.projects {
		grid-area: 1 / 1 / 2 / 3;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: max-content repeat(3, 1fr);
		column-gap: 2rem;
	}
	.projects > .title {
		grid-area: 1 / 1 / 2 / 3;
	}
	/* move menu icon onto nav */
	.open-menu {
		position: absolute;
		left: 2.5rem;
		top: 2rem;
		display: inline-block;
	}
	/* nav styles on tablet */
	.show-tablet-nav {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 1);
		display: block;
		z-index: 20;
	}
	.show-tablet-nav-content {
		position: relative;
		/* left: -40rem; */
		width: 50%;
		min-height: 100vh;
		display: grid;
		grid-template-columns: 5fr 1fr;
		grid-template-rows: repeat(16, 2.5rem);
		row-gap: 0.8rem;
		/* padding: 2rem;
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: capitalize; */
	}
	/* .nav-content span,
	.close-menu {
		display: none;
	} */
	.place-contents {
		display: grid;
		grid-template-columns: max-content auto;
		gap: 2rem;
		align-items: center;
	}
}

/* styling for desktop */
@media screen and (min-width: 1536px) {
	.container {
		grid-template-columns: 30rem 1fr;
	}
	/* show all text in nav */
	.nav-content span {
		display: initial;
	}
	/* Add spacing between icon and text */
	.nav-content > div {
		display: grid;
		grid-template-columns: max-content auto;
		gap: 2rem;
		align-items: center;
	}
	/* remove menu icon */
	.open-menu {
		display: none;
	}
	.main {
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
	.projects {
		grid-area: 1 / 1 / 3 / 2;
		gap: 2rem;
	}
	.projects > .title {
		margin: 0;
	}
	.project-card {
		margin: 0;
	}
	.announcements {
		grid-area: 1 / 2 / 2 / 3;
		display: grid;
		grid-template-rows: max-content 1fr;
	}
	.trending {
		grid-area: 2 / 2 / 3 / 3;
		display: grid;
		grid-template-rows: max-content 1fr;
	}
}
