@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500&display=swap");

/* Variables */
:root {
	--btn-bg-color: #573bfe;
	--icon-color: #00c3f9;
	--main-text-color: #818185;
}
:root.light {
	--main-bg-color: #e7e8eb;
	--card-bg-color: #ffffff;
	--heading-color: #2c2d2e;
}
:root.dark {
	--main-bg-color: #1f1d2b;
	--card-bg-color: #252836;
	--heading-color: #edecef;
}

/* basic reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: "Roboto Flex", sans-serif;
}

.container {
	background-color: var(--main-bg-color);
	color: var(--main-text-color);
}
.nav-content,
.header,
.card,
.project-card {
	background-color: var(--card-bg-color);
}

.person-image {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	overflow: hidden;
}
.person-image > img {
	width: 100%;
	height: 100%;
}

.fa-solid {
	color: var(--main-text-color);
	width: 2rem;
}

/* stlye nav as a modal */
.nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0);
	display: none;
}
.nav-bg-color {
	background-color: rgba(0, 0, 0, 0.7);
}
.nav-content {
	position: relative;
	left: -20rem;
	width: 70%;
	height: 100vh;
	display: grid;
	grid-template-columns: 5fr 1fr;
	grid-template-rows: repeat(15, 2.5rem);
	row-gap: 0.8rem;
	padding: 2rem;
	font-size: 1.6rem;
	font-weight: 400;
	text-transform: capitalize;
}
/* positioning nav contents */
.close-menu {
	grid-area: 2 / 2 / 4 / 3;
	justify-self: end;
	align-self: baseline;
	font-size: 2rem;
}
.dashboard {
	grid-area: 2 / 1 / 4 / 2;
	align-self: baseline;
	font-size: 2rem;
}
.home {
	grid-area: 6 / 1 / 7 / 2;
}
.profile {
	grid-area: 7 / 1 / 8 / 2;
}
.messages {
	grid-area: 8 / 1 / 9 / 2;
}
.history {
	grid-area: 9 / 1 / 10 / 2;
}
.tasks {
	grid-area: 10 / 1 / 11 / 2;
}
.communities {
	grid-area: 11 / 1 / 12 / 2;
}
.settings {
	grid-area: 14 / 1 / 15 / 2;
}
.support {
	grid-area: 15 / 1 / 16 / 2;
}
.privacy {
	grid-area: 16 / 1 / 17 / 2;
}
/* Add spacing between icon and text */
.nav-content > div {
	display: grid;
	grid-template-columns: max-content auto;
	gap: 2rem;
	align-items: center;
}

/* Header styles */
.header {
	height: 15rem;
	padding: 2rem;
	font-size: 1.4rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr) repeat(3, 2fr) repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	align-items: center;
}
/* style search */
.search {
	background-color: var(--main-bg-color);
	border-radius: 1rem;
	display: grid;
	grid-template-columns: max-content 1fr;
	align-items: center;
	padding: 0.4rem 0.5rem;
}
/* .search:focus {
	outline: 1px solid red;
} */
.search > input {
	border: none;
	background-color: transparent;
}
.search > input:focus {
	outline: none;
}

/* position header contents */
.open-menu {
	grid-area: 1 / 1 / 2 / 2;
}
.search {
	grid-area: 1 / 2 / 2 / 6;
}
.notification {
	grid-area: 1 / 7 / 2 / 8;
}
.toggle-theme {
	grid-area: 1 / 8 / 2 / 9;
}
.person-image {
	grid-area: 2 / 1 / 4 / 3;
	align-self: end;
}
.greeting {
	grid-area: 2 / 3 / 3 / 4;
	align-self: end;
}
.person {
	grid-area: 3 / 3 / 4 / 6;
}
.add {
	grid-area: 3 / 6 / 4 / 7;
}
.upload {
	grid-area: 3 / 7 / 4 / 8;
}
.share {
	grid-area: 3 / 8 / 4 / 9;
}
/* select all header children icons except the menu icon */
.header > i:not(:first-child) {
	justify-self: end;
}
/* Main styles */
.main {
}

/* ANIMATIONS */
/* Animation classes */
.slide-in {
	animation: slideIn 0.5s linear forwards;
}
.slide-out {
	animation: slideOut 0.5s linear forwards;
}
.fade-in {
	animation: fadeIn 0.5s linear 0.4s forwards;
}
.fade-out {
	animation: fadeOut 0.5s linear 0.4s forwards;
}
.show-nav {
	display: block;
}
.hide-nav {
	display: none;
}

/* animate slide in */
@keyframes slideIn {
	0% {
		left: -40rem;
	}
	100% {
		left: 0;
	}
}
/* animate slide out */
@keyframes slideOut {
	0% {
		left: 0;
	}
	100% {
		left: -40rem;
	}
}
/* animate fade in */
@keyframes fadeIn {
	0% {
		background-color: rgba(0, 0, 0, 0);
	}
	100% {
		background-color: rgba(0, 0, 0, 0.7);
	}
}
/* animate fade out */
@keyframes fadeOut {
	0% {
		background-color: rgba(0, 0, 0, 0.7);
	}
	100% {
		background-color: rgba(0, 0, 0, 0);
	}
}
